.string-container {
  max-width: 500px;
  height: 500px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.string-container > h1 {
  margin-bottom: 20px;
  text-align: center;
}

.string-container > label {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  width: 100%;
}

.string-container > div {
  display: flex;
  width: 100%;
}

.string-container textarea {
  background-color: var(--LIGHT_GREY);
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid var(--BLACK);
  margin-left: 24px;
  width: 300px;
  white-space: wrap;
  resize: none;
}

.string-output {
  margin-left: 10px;
  white-space: wrap;
  width: 300px;
  min-height: 70px;
  overflow-x: hidden;
  background-color: var(--WHITE);
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid var(--BLACK);
}