.dice-container {
  max-width: 500px;
  height: 500px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
}

.dice-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dice-top button {
  color: var(--WHITE);
  background-color: var(--GREY);
  font-size: 20px;
  padding: 5px 20px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
}

.dice-top button:hover {
  color: var(--WHITE);
  background-color: var(--BLACK);
}

.dice-image {
  width: 100px;
  height: 100px;
  margin: 20px 0;
}

.dice-bottom {
  margin-top: 50px;
}

.dice-table {
  border: 2px solid var(--BLACK);
  border-radius: 5px;
  padding: 5px;
}

.dice-table th {
  text-align: center;
}

.dice-table td {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0;
}

.dice-table td > img {
  width: 30px;
  height: 30px;
  margin-right: 12px;
}

.dice-table tbody:before {
    content: "@";
    display: block;
    line-height: 10px;
    text-indent: -99999px;
}

.dice-table tbody tr:nth-child(odd) {
  background-color: var(--BLACK);
  color: var(--WHITE);
}

.dice-table tbody tr:nth-child(even) {
  background-color: var(--GREY);
  color: var(--WHITE);
}