ul.footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-color: var(--BLACK);
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  color: var(--WHITE) !important;
  margin: 0 !important;
}

ul.footer-container > li {
  margin-right: 20px;
}

ul.footer-container > li:first-of-type {
  margin-right: 40px;
}

ul.footer-container > li > a:hover {
  color: var(--SKY_BLUE);
}

ul.footer-container > a {
  color: var(--WHITE) !important;
}